<mtapp:setting id="blog_internal_name" label="Short Name"
    hint="Short name for this blog" show_hint=1>
    <input type="text" name="blog_internal_name" id="blog_internal_name"
        value="<mt:Var name="blog_internal_name">" />
</mtapp:setting>

<mtapp:setting id="blog_external_name" label="Public Name"
    hint="Public name for this blog" show_hint=1>
    <input type="text" name="blog_external_name" id="blog_external_name"
        value="<mt:Var name="blog_external_name">" />
</mtapp:setting>

<mtapp:setting id="blog_groupid" label="Group Name"
    hint="This blog belongs to" show_hint=1>
    <select name="blog_groupid" id="blog_groupid" <mt:if name="mls_blog_group_set">disabled="disabled" class="disabled"</mt:if> >
        <option value="-1" <mt:unless name="mls_blog_group_set">selected="selected"</mt:unless> >~~ Select Group ~~</option>
        <option value="0" class="mlsIsFirst">Create new group</option>
        <mt:loop name="mls_all_groups">
        <option value="<$mt:var name="group_id"$>x<$mt:var name="group_name"$>" <mt:if name="this_blog">selected</mt:if> ><$mt:var name="group_name"$></option>
        </mt:loop>
    </select>
    <span id="new_group_div" style="display: none">
        <input type="text" id="new_group_name" style="width: 30%"/>
        <button type="button" id="new_group_button">Create Group</button> 
    </span>
</mtapp:setting>

<script type="text/javascript">
var $mls_groupid = jQuery('#blog_groupid');
$mls_groupid.change(function(){
    var $selected = $mls_groupid.find('option:selected');
    if ($selected.length && $selected.hasClass('mlsIsFirst')) {
        jQuery('#new_group_div').show();
    } else {
        jQuery('#new_group_div').hide();
    }
});

jQuery('#new_group_button').click(function(){
    var val = jQuery('#new_group_name').val();
    if (!val) return;
    jQuery('<option></option>')
        .attr('value', '0x' + val)
        .text(val)
        .appendTo($mls_groupid)
        .attr('selected', 'selected');;
    jQuery('#new_group_div').hide();
});
</script>
